<!-- Footer -->
<footer class="page-footer font-small blue">

  <nav aria-label="Page navigation example" style="text-align:center">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Próxima</a>
      </li>
    </ul>
  </nav>

    <!-- Copyright -->
    <div class="fixed-bottom" style="text-align:center">© 2022 Copyright:
      <a href="/"> linkparaalgumacoisa.com </a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->